/* line 1, /home/lfryc.github.com/stylesheets/my.scss */
body {
  padding-top: 80px;
  padding-bottom: 20px;
}

/* line 6, /home/lfryc.github.com/stylesheets/my.scss */
.subhead {
  font-size: 150%;
}

/* line 25, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud {
  text-align: center;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-0 {
  font-size: 1em;
  opacity: 0.8;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-1 {
  font-size: 1.15em;
  opacity: 0.85;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-2 {
  font-size: 1.3em;
  opacity: 0.9;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-3 {
  font-size: 1.45em;
  opacity: 0.95;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-4 {
  font-size: 1.6em;
  opacity: 1;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-5 {
  font-size: 1.75em;
  opacity: 1;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-6 {
  font-size: 1.9em;
  opacity: 1;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-7 {
  font-size: 2.05em;
  opacity: 1;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-8 {
  font-size: 2.2em;
  opacity: 1;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-9 {
  font-size: 2.35em;
  opacity: 1;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-10 {
  font-size: 2.5em;
  opacity: 1;
}
/* line 16, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud .tag-11 {
  font-size: 2.65em;
  opacity: 1;
}
/* line 27, /home/lfryc.github.com/stylesheets/my.scss */
.tag-cloud a {
  padding: 3px;
  text-decoration: none;
  white-space: nowrap;
}

/* line 35, /home/lfryc.github.com/stylesheets/my.scss */
pre {
  background: #f5faa0;
}
